<i  
    *ngIf="!formObject?.dirty"
    class="fa fa-info-circle" 
    aria-hidden="true"
    aria-hidden="true"
    placement="right"
    container="body"
    [tooltip]="toolTipRequirements">
</i>

<i
    *ngIf="formObject?.valid && formObject?.dirty"
    class="fa fa-check-circle" 
    aria-hidden="true">
</i>
<i 
    *ngIf="formObject?.invalid && formObject?.dirty"
    class="fa fa-times-circle-o" 
    aria-hidden="true"
    placement="right"
    container="body"
    [tooltip]="toolTipError">
</i>

<ng-template #toolTipError>
    <ul>
        <li *ngFor="let error of errors">{{error}}</li>
    </ul>
</ng-template>

<ng-template #toolTipRequirements>
    <ul>
        <li *ngFor="let requirement of requirements">{{requirement}}</li>
    </ul>
</ng-template>