.fa-check-circle{
    color: green;
}

.fa-times-circle-o{
    color:red;
}

i{
    vertical-align: middle;
}


ul{
    margin: 0;
    padding:0;
}

li{
    margin: 0;
    padding:0;
    text-align:left;
}